<%= render :partial => "foyers/nav" %>
<% form_for( @foyer ) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Membre du foyer de <%=@foyer.chef_prenom %> <%=@foyer.chef_nom %></legend>

    <table >
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Date de naissance</th>
        <th>Pays de naissance</th>
        <th>Sexe</th>
        <th>Relation</th>

        <th colspan="2" />
      </tr>

      <% @foyer.membres.each do |m| %>
        <tr>
          <td><%=h m.nom %></td>
          <td><%=h m.prenom %></td>
          <td><%=h m.date_de_naissance %></td>
          <td><%=h m.pays_id == nil ? '' : Country.find(m.pays_id).name %></td>
          <td><%=h m.sexe %></td>
          <td><%=h m.relation %></td>

          <td><%= link_to 'Éditez', edit_foyer_membre_path(@foyer, m) %></td>
          <td><%= link_to 'Suprimez', foyer_membre_path(@foyer, m),
            :confirm => 'Vous êtes sûr ?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </fieldset>
  <br />

  <%= link_to 'Rajoutez un autre membre', new_foyer_membre_path(@foyer) %> |
  <%= link_to 'Visualisez le foyer', foyer_path(@foyer) %>

<% end %>