<%= render :partial => "foyers/nav" %>
<% form_for( @foyer ) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Sources de revenu de <%=@foyer.chef_prenom %> <%=@foyer.chef_nom %></legend>

    <table >
      <tr>
        <th>Type</th>
        <th>Valeur</th>
        <th colspan="2" />
      </tr>

      <% @foyer.revenus.each do |r| %>
        <tr>
          <td><%=h r.type_de_revenu %></td>
          <td><%=h r.valeur %></td>

          <td><%= link_to 'Éditez', edit_foyer_revenu_path(@foyer, r) %></td>
          <td><%= link_to 'Suprimez', foyer_revenu_path(@foyer, r),
            :confirm => 'Vous êtes sûr ?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>


  </fieldset>
  <br />

  <%= link_to 'Rajoutez une autre source de revenu', new_foyer_revenu_path(@foyer) %> |
  <%= link_to 'Visualisez le foyer', foyer_path(@foyer) %>

<% end %>